.profile-image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.profile-image{
    width: 200px;
    height: 200px;
    background-image: url('./img/profile.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.exit-button{
    position: absolute;
    right: 0;
    top: 0;
}