.add-btn{
    background-image: url('./img/add.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}
.add-btn:hover{
    cursor: pointer;
}
.toolbar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
div.DraftEditor-root{
    background-color: white;
    padding: 5px 10px;
    border-radius: 4px;
}
div.public-DraftStyleDefault-block{
    margin-top: 0;
}
div.public-DraftStyleDefault-ltr{
    margin-bottom: 0;
}
div.rdw-editor-toolbar{
    border-radius: 4px;
}
.stars{
    display: inline-flex;
    align-items: center;
    
}
.rating-and-tags{
    display: flex;
    align-items: center;
}
.star-editable{
    cursor: pointer;
}
.editor .DraftEditor-root{
    background-color: #fff !important;
    min-height: 100px;
}
.editor .DraftEditor-root{
    cursor: text;
}
.photo-add{
    background-image: url('./img/photo-add.svg');
    background-size: contain;
    width: 100px;
    height: 100px;
    margin: auto;
}
.photo-ondrop{
    background-image: url('./img/photo-ondrop.svg');
    background-size: contain;
    width: 100px;
    height: 100px;
    margin: auto;
}
.dropzone-content{
    border: 3px dashed white;
    border-radius: 10px;
}
.modal-header{
    border-bottom: none;
}
.modal-footer{
    border-top: none;
}
.set-tag{
    width: 170px;
}
.input-rating{
    border: none;
    outline: none;
}
.input-rating:focus{
    border: none;
    outline: none;
}
@media screen and (max-width:400px) {
    .set-tag{
        width: 100%;
    }
}