.add-btn{
    background-image: url('./img/add.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}
.add-btn:hover{
    cursor: pointer;
}
.toolbar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
div.DraftEditor-root{
    background-color: white;
    padding: 5px 10px;
    border-radius: 4px;
}
div.public-DraftStyleDefault-block{
    margin-top: 0;
}
div.public-DraftStyleDefault-ltr{
    margin-bottom: 0;
}
div.rdw-editor-toolbar{
    border-radius: 4px;
}
.stars{
    display: inline-block;
}
.star-editable{
    cursor: pointer;
}
