.logo{
    height: 60px;
    background-image: url("./img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    
   width: 150px;
   
   background-position: center;
}
nav{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto !important;
}
.search{
    width: 550px !important;
}
.category-item{
    margin: 0 15px;
}
.auth-logo{
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.auth-logo:hover{
    cursor: pointer;
}
.google{
    background-image: url('./img/google.svg');
}
.facebook{
    background-image: url('./img/facebook.svg');
}
