.reviewContent{
    border: 2px solid #ff0000;
    border-radius: 20px;
}
.star{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #000;
    display: inline-block;
    margin-right: 5px;
}
.feedback-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.like-panel{
    height: 100%;
    display: flex;
    align-items: center;
}
.like{
    display: inline-block;
    background-image: url("./img/like.svg");
    width: 30px;
    height: 30px;
}
.likes-count{
    display: inline-block;
}
.down-arrow{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("./img/down-arrow.svg");
    transition: ease-in-out 0.15s;
}
.down-arrow:hover{
    cursor: pointer;
}
.comments-panel{
    height: 100%;
    display: flex;
    align-items: center;
}
.comment-img{
    flex-shrink: 0;

    width: 40px;
    height: 40px;
    background-color: #ff0000;
    border-radius: 50%;
}
.collapsed{
    display: none;
}
.rotated{
    transform: rotate(180deg);
    transition: ease-in-out 0.15s;
}
.very-bad{
    background-color: #ff0000;
}
.bad{
    background-color: #ff4800;
}
.satisfactory{
    background-color: #ffc400;
}
.good{
    background-color: #7bff00;
}
.excellent{
    background-color: #00ff00;
}

.border-very-bad{
    border: 2px solid #ff0000;
}
.border-bad{
    border: 2px solid #ff4800;
}
.border-satisfactory{
    border: 2px solid #ffc400;
}
.border-good{
    border: 2px solid #7bff00;
}
.border-excellent{
    border: 2px solid #00ff00;
}
.DraftEditor-root{
    background-color: #212529 !important;
}
