.reviewContent{
    border: 2px solid #ff0000;
    border-radius: 35px;
}
.star{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #000;
    display: inline-block;
    margin-right: 5px;
}
.feedback{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.like-panel{
    height: 100%;
    display: flex;
    align-items: center;
}
.like{
    display: inline-block;
    background-image: url("./img/like.svg");
    width: 30px;
    height: 30px;
}
.likes-count{
    display: inline-block;
}
.down-arrow{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("./img/down-arrow.svg");
}
.comments-panel{
    height: 100%;
    display: flex;
    align-items: center;
}
