.reviewContent{
    border: 2px solid #818181;
    border-radius: 12px;
}
.star{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #000;
    display: inline-block;
    margin-right: 5px;
}
.feedback-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.like-panel{
    height: 100%;
    display: flex;
    align-items: center;
}
.like{
    display: inline-block;
    background-image: url("./img/like.svg");
    width: 40px;
    height: 40px;
}
.like:hover{
    cursor: pointer;
}
.like-filled{
    background-image: url("./img/like-filled.svg");
}
.likes-count{
    display: inline-block;
}
.down-arrow{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("./img/down-arrow.svg");
    transition: ease-in-out 0.15s;
}
.down-arrow:hover{
    cursor: pointer;
}
.comments-panel{
    height: 100%;
    display: flex;
    align-items: center;
}
.comment-img{
    flex-shrink: 0;

    width: 40px;
    height: 40px;
    background-color: #ff0000;
    border-radius: 50%;
}
.collapsed{
    display: none;
}
.rotated{
    transform: rotate(180deg);
    transition: ease-in-out 0.15s;
}
.rating-very-bad{
    background-color: #E32636
}
.rating-bad{
    background-color: #e35b26
}
.rating-satisfactory{
    background-color: #e3b726
}
.rating-good{
    background-color: #81e326
}
.rating-excellent{
    background-color: #36e326
}
.rating{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: #505050;

}
.DraftEditor-root{
    background-color: #212529 !important;
}
.tag{
    border-radius: 290486px;
    display: inline-block;
    padding: 2px 10px;
}
.tag:hover{
    /* just for time is commented */
    /* cursor: pointer; */
}
.written-by:hover{
    cursor: pointer;
}
.cross{
    width: 25px;
    height: 25px;
    background-image: url('./img/x.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.cross:hover{
    cursor: pointer;
}